colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0"
pyelftools==0.31 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.8" and python_version < "4.0"
